<!-- Contact Section -->
<section id="contact">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Us</h2>
                <hr class="colored">
                <p>Please tell us about your next project and we will let you know what we can do to help you.</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-8 col-lg-offset-2">
                <div id="submission-success" style="<%= 'display:none;' if @latest_response.nil? || @latest_response.present? && to_minutes(Time.current - @latest_response.created_at) > 30 %>">
                  <h3>Thank you for contacting us. We will respond to you shortly.</h3>
                </div>
              <% if @latest_response.nil? || @latest_response.present? && to_minutes(Time.current - @latest_response.created_at) > 30 %>
                <%= simple_form_for @contact_response, url: submit_form_path, :html => { :multipart => true, id: 'contact-form' }, authenticity_token: true do |f| %>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :name, input_html: { placeholder: 'Name' } %>
                    </div>
                  </div>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :email, input_html: { placeholder: 'Email' } %>
                    </div>
                  </div>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :subject, input_html: { placeholder: 'Subject' } %>
                    </div>
                  </div>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= f.input :message, input_html: { placeholder: 'Message' } %>
                    </div>
                  </div>
                  <br>
                  <div id="success"></div>
                  <div class="row">
                    <div class="form-group col-xs-12">
                      <%= f.submit 'Send', class: 'btn btn-outline-dark', data: { "disable-with": "Sending..." } %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
</section>
